.success {
  color: green;
}

.error {
  color: red;
}

body.right-answer {
  background-color: green;
}

body.wrong-answer {
  background-color: red;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #f4f4f4;
  }

  body.right-answer {
    background-color: #005fe3;
  }

  body.wrong-answer {
    background-color: #b30000;
  }

  .success {
    background-color: green;
    color: black;
  }

  .error {
    background-color: red;
    color: black;
  }
}
